.card{
  background-color: $gray;
  font-size: 30px;
  font-weight: bold;
  padding-top: 15vh;
  max-height: 60vh;
  min-height: 40vh;
  text-align: center;
  text-decoration: none;
  border-style: solid;
  border-color: $white;
  color: $white;

  &.eritrocite{
    background-color: lighten($red, $light);
    &:hover{
      background-color: $red;
      border: 3px solid $red;
      border-radius: 3px;
      font-size: 40px;
    }
  }


  &.leucosite{
    background-color: lighten($blue, $light);
    color: $white;
    border-style: solid;
    border-color: $white;
    &:hover{
      background-color: $blue;
      border: 3px solid $blue;
      border-radius: 3px;
      font-size: 40px;
    }
  }

  &.platelets{
    background-color: lighten($green, $light);
    color: $white;
    border-style: solid;
    border-color: #fff;
    &:hover{
      background-color: $green;
      border: 3px solid $green;
      border-radius: 3px;
      color: #ffffff;
      font-size: 40px;
    }
  }

  &.plasma{
    background-color: lighten($yellow, $light-poor);
    color: $white;
    border-style: solid;
    border-color: #fff;
    min-height: 50%;
    &:hover{
      background-color: $yellow;
      border: 3px solid $yellow;
      border-radius: 3px;
      font-size: 40px;
    }
  }
}
