// --------- Body ---------
$background_color: #fff;
$font_family: "Dosis";
$global_font_size: "14";
$bd_f_w: 400;

// --------- Themed ---------
// --------- Eritrocite ---------
$eritrocite: rgba(200, 0, 0, 0.8);
$eritrocite_hover: rgba(200, 0, 0, 1);
$eritrocite_border_hover: rgba(255, 0, 39, 0.1);
$main_text_c: #ffffff;
$secondary_text_c:#000;

// --------- Leucosite ---------
$leucosite: rgba(0,86, 129, 0.8);
$leucosite_hover: rgba(0, 86, 129, 1);
$leucosite_border_hover: rgba(0, 86, 29, 0.1);
