// --------- Body ---------
$background_color: #fff;
$font_family: "Dosis";
$f-small: "10px";
$f-medium: "14px";
$f-large: "23px";
$f-big: "32px";
$f-huge: "45px";
$f-colosal: "65px";
$w-small: 400;
$w-medium: 600;
$w-big: 800;


// --------- Colors ---------
$black: #000000;
$white: #ffffff;
$red: #c80000;
$blue: #005681;
$green: #21c800;
$yellow: #ffe600;
$gray: #eee;

$light: 20%;
$light-ghost: 5%;
$light-poor: 10%;
$light-hight: 30%;
$light-mega: 40%;

$dark: 20%;
$dark-ghost: 5%;
$dark-poor: 10%;
$dark-hight:30%;
$dark-mega: 35%;

// --------- Themed ---------
